.contact-page {
    margin-top: 85px;
    padding: 0;
}

.join-section {
    display: flex;
    align-items: stretch;
    align-content: center;
    height: 100vh;
}

.contact-left,
.contact-right {
    width: 50%;
}

.contact-right iframe {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.contact-left {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h2.contact-heading {
    text-align: center;
    line-height: normal;
}

h2.contact-heading {
    color: #414b3a;
    font-size: 30px;
    line-height: 34px;
    font-family: 'Oswald', sans-serif;
    font-size: 22px;
    line-height: 45px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0px;
    margin-bottom: 4px;
}

section.join-page .container {
    max-width: 100%;
    padding: 0;
    margin: auto;
    margin-left: 0;
}

.contact-left.contactus-left ul {
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 97%;
}

.contact-left.contactus-left ul li {
    display: block;
    list-style: none;
    text-align: center;
    color: #222;
    width: 33%;
}

.contactus-left {
    justify-content: space-around !important;
}

.align-img {
    margin-bottom: 35px;
}

section.menu-page,
.rules-page {
    padding: 0;
}


.contact-left.contactus-left {
    padding: 20px;
}

.feedback {
    width: 100%;
}

.feedback-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.feedback-form input[type="text"],
.feedback-form textarea {
    font-family: inherit;
    width: 100%;
    padding: 10px;
    font-size: inherit;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.feedback-form textarea {
    height: 80px;
    resize: none;
    overflow-y: auto;
}

.feedback-form button {
    padding: 10px;
    font-size: inherit;
    background-color: #414b3a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.feedback-form button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    iframe {
        min-height: 300px;
    }

    .contact-left.contactus-left ul {
        display: none;
    }
}